html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

.b {
  font-weight: bold;
}

#fps {
  position: absolute;
  right: 130px;
  bottom: 60px;
}

.Game {
  border: 10px solid aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.highscore {
  font-family: 'Passion One', cursive;
  color: rgba(233, 100, 106, 1);
  font-size: 32px;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 50px;
  margin-left: -100px;
}

.name {
  position: absolute;
  right: 15px;
  top: 15px;
}

.name input {
  font-size: 24px;
  border: none;
  text-align: right;
}

.name input:focus {
  outline: none;
}
