* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  background: aliceblue;
}

.b {
  font-weight: bold;
}

.Game {
  position: absolute;
  background: white;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
}

.Score {
  position: absolute;
  font-size: 18px;
  top: 10px;
  left: 10px;
}

.highscore {
  font-family: 'Passion One', cursive;
  color: rgba(233, 100, 106, 1);
  font-size: 32px;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 50px;
  margin-left: -100px;
}

.Name {
  position: absolute;
  right: 10px;
  top: 10px;
}

.Name-input {
  box-sizing: border-box;
  font-size: 18px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid transparent;
  text-align: right;
}

.Name-input:hover {
  border-bottom: 1px solid #eee;
}

.Name-input:focus {
  outline: none;
}

.SnowflakeContainer {
  position: absolute;
}

.ConfettiContainer {
  position: absolute;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.CandyContainer {
  position: absolute;
}
